@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/e/c/0/57384.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }

#switching{
    position: absolute;
    left: 10%;
    bottom: 10%;
    color:rgb(243, 156, 16);
    font-size:25px;
}

#studentlogin{
    position:absolute;
    font-size: 30px;
    left:45%;
    top:5%;
}