@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/e/c/0/57384.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }

#switch{
    position: absolute;
    right: 30%;
    bottom: 10%;
    font-size: 20px;
    color:red;
}

#studentlogin{
    position:absolute;
    font-size: 30px;
    left:50%;
    top:5%;
}