@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    /* background-image: url('../imgs/login.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}


#video {
    /* position: absolute; */
    /* TODO change based on media queries */
    width: 100%;
    height: auto;
    /* left:7%; */
    /* top:2%; */
}

#canvas {
    width: 100%;
    height: auto;
}