/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url('../src/login.jpg'); */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

/* This container is necessary to resize our images */
.imgContainer {
    height: auto;
    width: 300px;
    right: 10vw;
}

/* We further specify our image properties here */
.imgContainer img {
    width: 100%;
    height: auto;
}

/* Set the div to not display if not hovered on */
a>div { 
    display: none;
    position: relative;
}

/* Show the div if hovered */
a:hover>div {
    position: absolute;
    display: block;
    z-index: 1;
}